body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.search, .url {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.search {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}

button.search:hover {
    background-color: #0056b3;
}

#displayArea, #search {
    margin-top: 20px;
}

#displayInput {
    background-color: #00f346;
}

#createButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50%;
    font-size: 24px;
}

#createButton:hover {
    background-color: #218838;
}

#linkContainer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
